<!DOCTYPE html>
<html>

<head>
    <meta chaset="utf-8" />
    <title>chess</title>
    <script src="javascript/socket.io.js"></script>
    <script src="javascript/board.js"></script>
    <script src="javascript/socket.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body onload="init()">



    <div id="external">

        <header>
            Użytkownik: <%= locals.username %>
            <form method="GET" action="/logout">
                <input type="submit" value="Wyloguj">
            </form>
        </header>

        <div id="content">

            <aside id="leftaside">
                <div>leftaside</div>
                <div>Połączeni użytkownicy:</div>
                <div id="connectedUsers"></div>
                <div>w poczekalni:</div>
                <div id="waitingUsers"></div>
                <div>rozgrywane gry:</div>
                <div id="games"></div>
                <div>twoje statystyki:</div>
                <div id="yourStats"></div>

            </aside>

            <main>
                <div id="centerbox_buttons">
                    <input type="submit" onclick="send()" value="Nowa gra">
                    <input type="submit" onclick="drawRequest()" value="Zaproponuj remis">
                    <input type="submit" onclick="giveUp()" value="Poddaj się">
                </div>
                <div id=canvasDiv>
                    <canvas id="myCanvas" width="512" height="512"></canvas>
                </div>
            </main>

            <aside id="rightaside">
                <div id="rightaside_buttons">
                    <input type="submit" onclick="changePromotion('queen')" value="QUEEN">
                    <input type="submit" onclick="changePromotion('rook')" value="ROOK">
                    <input type="submit" onclick="changePromotion('knight')" value="KNIGHT">
                    <input type="submit" onclick="changePromotion('bishop')" value="BISHOP">            
                </div>
                <div id="log" style="max-height: 300px;">
                    INFO<br>
                </div>
            </aside>

        </div>

        <footer>
            FOOTER
        </footer>

    </div>



    <img id='boardPng' src="img/board1.png" hidden="true">
    <img id='chessmenPng' src="img/chessmen1.png" hidden="true">
    <img id='framePng' src="img/frame.png" hidden="true">

</body>

</html>