<!DOCTYPE html>
<html>

<head>
    <meta chaset="utf-8" />
    <title>My Chess</title>
    <script src="javascript/socket.io.js"></script>
    <script src="javascript/board.js"></script>
    <script src="javascript/socket.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css?_1">
</head>

<body onload="init()">

    <div id="panel">
    <header class="">
        <h1 id="header-left">MY CHESS</h2>
        <div id="header-right">
            <h2 id="nick-info"><%= locals.username %></h2>
            <a href="/logout" class="button">Logout</a>
            
        </div>
    </header>

    <main class="">

        <aside id="left-aside">
            <div id="connected-users">
                <p>Connected users:</p>
                <div id="connected-users-list" class="scrolled-list"></div>
            </div>
            <div id="in-lobby">
                <p>Users in lobby:</p>
                <div id="in-lobby-list" class="scrolled-list"></div>
            </div>
            <div id="being-played">
                <p>Games:</p>
                <div id="games" class="scrolled-list"></div>
            </div>

        </aside>

        <div id="center-div">
            <div id="center-div-buttons">
                <button class="panel-button">☰</button>
                <button onclick="send()">New game</button>
                <button class="panel-button">☰</button>
            </div>
            <div id="canvas-div">
                <canvas id="myCanvas" width="512" height="512"></canvas>
            </div>
        </div>
    
        <aside id="right-aside">
            <p>Autopromotion</p>
            <div id="rightaside-buttons">
                <button onclick="changePromotion('queen')">QUEEN</button>
                <button onclick="changePromotion('rook')">ROOK</button>
                <button onclick="changePromotion('knight')">KNIGHT</button>
                <button onclick="changePromotion('bishop')">BISHOP</button>
            </div>
            <div id="log" class="scrolled-list"></div>
        </aside>

    </main>

    <footer class="">
        <p>Bartłomiej Grochowski 2020</p>
        <p>Github</p>
    </footer>
    </div>

    <img id='boardPng' src="img/board1.png" hidden="true">
    <img id='chessmenPng' src="img/chessmen1.png" hidden="true">
    <img id='framePng' src="img/frame.png" hidden="true">

</body>

</html>