<!DOCTYPE html>
<html>

<head>
    <meta chaset="utf-8" />
    <title>My Chess</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="javascript/account.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <style>
        main {
            background: linear-gradient(#39403c, #2d3330);
            border: solid white 1px;
            border-top: none;
            border-bottom: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 800px;
        }

        main>h1, main>h2 {
            margin: 5px;
            padding: 1px;
        }

        .start-form {
            
            border: solid 5px #212429;
            box-shadow: 4px 8px #242323;
            border-radius: 30px;
            padding: 10px 80px;
            margin: 25px;
            display: flex;
            flex-direction: column;
            
            max-width: 400px;
        }

        .start-form > p {
            margin: 5px;
            align-self: center;
        }

        .start-form > button {
            margin: 5px;
            align-self: center;
            max-width: 50%;
        }

        .info-box {
            max-width: 500px;
            text-align: justify;
        }

        .input-div {
            display: flex;
            justify-content: center;
            margin: 5px;
        }

    </style>
</head>

<body onload="init()">

<main>
    
    <h1>Eme chess</h1>
    <h2>uwu</h2>


    <!-- DATABASE IS DISABLED ON HEROKU
    <div>
        <form id="loginForm" class="start-form" method="POST" action="/login">
            <p>Log in:</p>
            <div>
                <label>Login:</label> <input name="loginUsername" id="loginUsername" type="text" />
                <span id="loginUsernameError" class="errorMessage"></span>
            </div>
            <div>
                <label>Password:</label> <input name="loginPassword" id="loginPassword" type="password" />
                <span id="loginPasswordError" class="errorMessage"></span>            
            </div>
            <div id="loginError" class="errorMessage"><%= locals.loginError %></div>
            <button type="submit" formmethod="post">Login</button>
        </form>
    </div>
    <div>
        <form id="createForm" class="start-form" method="POST" action="/create">
            <p>Create an account:</p>
            <div>
                <label>Login:</label> <input id="createUsername" name="createUsername" type="text" />
                <span id="createUsernameError" class="errorMessage"></span>            
            </div>
            <div>
                <label>Password:</label> <input id="createPassword" name="createPassword" type="password" />
                <span id="createPasswordError" class="errorMessage"></span>            
            </div>
            <div>
                <label>Repeat password:</label> <input id="createRepeatPassword" name="createRepeatPassword" type="password" />
                <span id="createRepeatPasswordError" class="errorMessage"></span>            
            </div>
            <div id="createError" class="errorMessage"><%= locals.createError %></div>
            <button type="submit" formmethod="post">Register</button>
        </form>
    </div>
    -->
    <div class="info-box">
        <p>Welcome to eme chess!</p>
        <span>
            This is your chance to get your blessing.
        </span>
    </div>
    <div>
        <form id="noRegistrationForm" class="start-form" method="POST" action="/noRegistration" style="display: flex; flex-direction: column;">
            <p>Enter your name:</p>
            <div class="input-div">
                <label>Nickname:</label> <input id="noRegistrationNick" name="noRegistrationNick" type="text" />
                <span id="noRegistrationNickError" class="errorMessage"></span>            
            </div>
            <div id="noRegistrationError" class="errorMessage"><%= locals.noRegistrationError %></div>
            <button type="submit" formmethod="post">Let's go!</button>
            
        </form>
    </div>

</main>


</body>

</html>