
body {
    background-image: url("../img/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: fixed;
    height: 200vh;
    font-size: 2.0vh;
    letter-spacing: 0.1em;
    font-family: 'Lusitana', serif;
    text-shadow: 0.0em 0.1em 0.1em black, 0.1em 0.2em 0.5em black, 0.1em 0.2em 0.5em black;
    margin: 0;
    color: #a79e9e
}

.outside {
    width: 75%;
}

.container {
    background-image: url("../img/DivBackground.png");

    border-style: double;
    border-color: rgba(72,64,80,0.75);
    border-radius: 20px;

    padding: 10px;
    
}


.inside-container {
    padding: 10px;
    margin: 5px;
}


main {
    position: center;
    margin: auto;
    padding: 3em;
    right: 5vh;
    top: 3vh;
    width: 85%;
    max-width: 900px;
    height: auto;
    box-sizing: border-box;
    border: 4px double rgba(72,64,80,0.75);
    border-radius: 10px;
    box-shadow: 0.1em 0.5em 2em black;
}

header {
    position: relative;
    height: 50px;
    width: 80%;
    background-color: darkgray;
}



.align-left {
    position: absolute;
    left: 10px;
}

.align-right {
    position: absolute;
    right: 10px;
}











#content {

    display: flex;
    flex-direction: row;
    justify-content: center;


}


#external {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    max-width: 700px;
    max-height: auto;

    min-width: 512px;
    min-height: auto;
}

aside#rightaside {

    min-width: 300px;
    min-height: auto;

    max-width: 400px;
    min-height: auto;
}

aside#leftaside {
    
    min-width: 300px;
    min-height: auto;

    max-width: 400px;
    min-height: auto;

}


footer {

    width: 1200px;
}

main>div#canvasDiv {

    width: 512px;
    height: 512px;


    border:1px solid #000000;

}


.errorMessage {
    color: red;
    font-weight: bold;
}

#log {
    height: 500px;
    overflow-y: auto;
}